<!DOCTYPE html>
<html ng-app="app">

  <head>
    <title>Fridgepedia</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-route.min.js">
    </script>
    <script src="app/app.js"></script>
  </head>

  <body ng-controller="foodController">
    <div class="banner">
      <h1>Fr<img src="../assets/salad32.png">dgeped<img src="../assets/carrot64.png" style="width:38px;height:38px;">a</h1>

    </div>
    <nav class="navigation">
      <ul>
<!--         <li><a href="#">Find Recipes</a></li> -->
<!--         <li><a href="#">Currently In Fridge</a></li> -->
<!--         <li><a href="#">Log Out</a></li> -->
      </ul>
    </nav>
    <div ng-view></div>
    <div class="foodForm">

      <form ng-submit="submit()">
        <label>Food item:
          <input type="text" name="food-item" ng-model="food.item" placeholder="Grocery Item" required>
        </label>

        <label>Consume by:
          <input type="date" name="expiration" ng-model="food.expiration" required>
        </label>
        </br>
        <button type="submit" value="Submit">Submit</button>
      </form>
      </div>
      <div class="food-table">
        <table>
          <caption>Your Fridge</caption>
          <tr>
            <th>Item</th>
            <th>Expiration</th>
          </tr>
          <tr class="notFirst" ng-repeat="food in fridge | orderBy:'utc' track by $index" ng-click="findRecipe(food.item)">
            <td>{{food.item}}</td>
            <td>{{food.expiration}}</td>
          </tr>
        </table>
      </div>
      <div class="food-recipes">
        <div class="recipes">
          <h1>Recommended Recipes</h1>
            <div ng-repeat="rec in recipe"> 
              <h2 class="recipe-label">{{rec.recipe.label}}</h2>
              <a href="{{rec.recipe.url}}"><img ng-src="{{rec.recipe.image}}"></a>
              <p class="recipe-cal"> {{rec.recipe.calories}} Calories</p>
              <p class="recipe-serving">Serving Size:  {{rec.recipe.yield}}</p>
            </div>
        </div>
      </div>
    </div>
  </body>

</html>